body{
    background: black;
    color:white;
    font-family: "Montserrat", sans-serif;
}

.social{
    font-weight: 800;
}

.img-logo{
    width: 50px !important;
}

.nav-link{
    color:white;
}

.icon{
    color: white !important;
}

.card .card-header{
    text-align: center;
    background-color: aqua;
}
.card .card-footer{
    text-align: center;
    background-color: aqua;
}
.card{
    background: black !important;
    color:white !important;
}

.btn-aqua{
    margin-top: 20px;
    background-color: aqua !important;
    
}
button{
color:white !important;
}

#footer{
    background-color: aqua;
    color: white;
}